In [2]:
a = 14

In [2]:
b = 13.1

In [3]:
print(a+b)

27.1

### type() function will print datatype of the variable

In [4]:
type(a)

int

In [5]:
type(b)

float

In [7]:
str1 = 'This is our first class'

In [8]:
type(str1)

str

### len() function will print length of the string

In [9]:
len(str1)

23

### String manipulation

In [10]:
str2 = 'My name is Ayushi'

In [11]:
str1[0]

'T'

In [13]:
str1[1]

'h'

In [14]:
str1[2]

'i'

In [15]:
str1

'This is our first class'

In [16]:
#Last charachter
str1[-1]

's'

In [17]:
str2 = "Ayushi's"
len(str2)

8

In [18]:
#upper bound is not included
str2[0:3]

'Ayu'

In [20]:
str2[:3]

'Ayu'

In [21]:
str2[3:7]

"shi'"

In [22]:
str2[3:]

"shi's"

In [23]:
str2[:]#This means run from first element to last

"Ayushi's"

In [24]:
newstr = "a1x b2y c3z"

In [25]:
newstr[::2]

'axbycz'

In [26]:
newstr[::-1]#print in reverse order

'z3c y2b x1a'

In [27]:
newstr = "a1x? b2y? c3z?"

In [28]:
newstr[::-2]

'?3 yb?1'

### split() function split the string based on given condition

In [29]:
s = "there is one question, please elaborate"

In [30]:
s.split(' ')

['there', 'is', 'one', 'question,', 'please', 'elaborate']

In [31]:
len(s.split(' '))

6

In [32]:
s.split('e')

['th', 'r', ' is on', ' qu', 'stion, pl', 'as', ' ', 'laborat', '']

In [33]:
date = '12/11/2020'

In [34]:
date.split('/')

['12', '11', '2020']

### strip() function remove the characters based on string argument passed

In [35]:
text = ".....,,,,grrrt....banana....rrr"

In [36]:
text.strip(".,grt")

'banana'

In [38]:
#common use of strip() is to remove space from strings
newstr1 = ' Indore'
newstr2 = ' Indore '
newstr3 = 'Indore '

In [39]:
newstr1.strip(' '),newstr2.strip(' '),newstr3.strip(' ')

('Indore', 'Indore', 'Indore')

# List and Tuples

Array is collection of same datatype  
Tuple is collection of different datatypes. Tuples are not mutable.  
List is collection of different datatypes but list is mutable.

In [41]:
t1 = ('python',3,3.5)

In [42]:
t1[0]

'python'

In [43]:
t1[2]

3.5

In [45]:
t1[1]

3

In [46]:
l1 = []

In [47]:
l1 = ['python',3,3.5]

In [48]:
len(l1)

3

In [49]:
l1[4] # we can not apply operations on list index which are out of range

IndexError: list index out of range

In [50]:
l1.append('4th ele')

In [51]:
l1

['python', 3, 3.5, '4th ele']

In [52]:
l2 = [23,12,199,-4]

In [53]:
l2.sort()#sorted in ascending order

In [54]:
l2

[-4, 12, 23, 199]

In [55]:
l2.reverse()#reverse element position

In [56]:
l2

[199, 23, 12, -4]

In [57]:
l2 = [23,12,199,-4,'123']

In [58]:
l2.sort() # sorting can not be done on different datatypes

TypeError: '<' not supported between instances of 'str' and 'int'

In [59]:
l2.reverse()

In [60]:
l2

['123', 199, 23, 12, -4]

In [61]:
l3 = [3,6,2,8,1]

In [62]:
l3.sort(reverse=True)#sort in descending order

In [63]:
l3

[8, 6, 3, 2, 1]

# for loop

In [64]:
x = range(2,13)

In [65]:
x

range(2, 13)

In [66]:
x[0]

2

In [67]:
x[1]

3

In [68]:
x=range(10)

In [69]:
x[0]

0

In [70]:
x[1]

1

In [72]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
for i in range(10):
    print(i)
    
print('Last ele:' , i)

0
1
2
3
4
5
6
7
8
9
Last ele: 9

In [74]:
for i in range(10):
    print(i)
    print('Last ele:' , i)

0
Last ele: 0
1
Last ele: 1
2
Last ele: 2
3
Last ele: 3
4
Last ele: 4
5
Last ele: 5
6
Last ele: 6
7
Last ele: 7
8
Last ele: 8
9
Last ele: 9

In [75]:
a = 'This is first session'

In [76]:
for i in a:
    print(i)

T
h
i
s

i
s

f
i
r
s
t

s
e
s
s
i
o
n

In [80]:
for i in range(len(a)):
    print(a[i])

T
h
i
s

i
s

f
i
r
s
t

s
e
s
s
i
o
n

In [79]:
for i in range(len(a)):
    print('index : ',i,'value : ',a[i])

index :  0 value :  T
index :  1 value :  h
index :  2 value :  i
index :  3 value :  s
index :  4 value :
index :  5 value :  i
index :  6 value :  s
index :  7 value :
index :  8 value :  f
index :  9 value :  i
index :  10 value :  r
index :  11 value :  s
index :  12 value :  t
index :  13 value :
index :  14 value :  s
index :  15 value :  e
index :  16 value :  s
index :  17 value :  s
index :  18 value :  i
index :  19 value :  o
index :  20 value :  n

In [81]:
a

'This is first session'

In [83]:
#Calculate count of words present in string
count = 0
for i in a:
    if i==' ':
        count = count + 1
print('Total no. of words: ', count+1)

Total no. of words:  4

In [85]:
#make a list of vowels that appears in the given sentence

sentence = 'Tony Author the IV was a great ruler'
vowels = []
for i in sentence:
    if i in 'aeiouAEIOU':
        vowels.append(i)
print(vowels)

['o', 'A', 'u', 'o', 'e', 'I', 'a', 'a', 'e', 'a', 'u', 'e']

In [86]:
#remove duplicate from the list

L1 = [10,10,10,20,20,20,30,30]
NEWLIST = []
for i in L1:
    if i not in NEWLIST:
        NEWLIST.append(i)
NEWLIST

[10, 20, 30]

# while loop

In [3]:
count = 0
while (count < 5):
   print('The count is:', count)
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4